 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>JAMD Services exists to solve critical operational issues facing our clients, both large and small. Our unique "one on one" approach is not only what differentiates us, but also makes us so successful.</p>
                </div>
                <div class="col-lg-4">
                    <p> We provide and utilise a broad range of services and solutions to help organisations facilitate change, achieve their vision and optimize performance and productivity.</p>
                </div>
            </div>
        </div>
    </section>
